@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto|Roboto+Slab&display=swap');
/* 
  COLORS 
*/ 

// program catalog colors 
$yellow: #edc951; 
$orange: #eb6841; 
$red: #cc2a36; 
$brown: #4f372d; 
$blue: #00a0b0; 
$charcoal: #979797; 
$grey: #474747; 
$flatwhite: #f4f4f4; 

/* 
  TYPOGRAPHY 
*/ 

$mono: 'Andale Mono', monospace; 
$robo: 'Roboto', sans-serif; 
$src-pro: 'Open Sans', sans-serif; 
$robo-serif: 'Roboto Slab', serif; 

/* 
  SPACING
*/ 

$sp-xs: .25rem; 
$sp-s: .5rem; 
$sp: 1rem; 
$sp-m: 1.5rem; 
$sp-l: 2rem; 
$sp-xl: 2.5rem; 
$sp-xxl: 3rem; 



